.inputs-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  margin-bottom:20px;
}

.datetime {
  display:flex;
  flex-direction:column;
}

mat-form-field {
  width: 200px;
}

// copied from https://css-loaders.com/
/* HTML: <div class="loader"></div>  */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
  background:
    linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
    #ddd;
  animation: l7 1s infinite steps(6);
}
@keyframes l7 {
  100% {background-position: right -25% top 0}
}

.loading-overlay {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 37.5%;
  width:25%;
  height:25%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 2%;
}

.loading-text {
  color: white;
  font-size: 30px;
}
