.inputs-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  margin-bottom:20px;
}

.datetime {
  display:flex;
  flex-direction:column;
}

mat-form-field {
  width: 200px;
}
