.chart-container {
  position:relative;
  width: 100%;
  height: 400px;
}

.no-data-message-container {
  position: absolute;
  width: 200px;
  height: 50px;
  top:45%;
  left:42%;
  background-color: white;
}

.no-data-message {
  text-align: center;
}
